/* app css stylesheet */
#picker-body {
  height: 550px;
  overflow-y: auto;
}

.scroll-x {
  width: 100%;
  overflow-x: auto;
}

.pl-progress {
  margin-bottom: 2px;
  margin-top: 3px;
  height:1.65em;
  font-size: 75%;
  font-weight: 700;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.pl-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.stick-up {
  position: relative;
  top: -0.9em;
  left: 1em;
}
.stick-bottom {
  position: relative;
  bottom: -0.9em;
  right: 1em;
}
.half {
  width: 50% !important;
}

.grabbable {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.pointable {
    cursor: pointer;
    cursor: -webkit-pointer;
}
/* TODO Suppr
div.inline {
  display: inline-block;
  padding-right: 0.1em;
}*/
