<table class="table table-hover">
  <tbody data-ng-model="playlist" ui-sortable="sortableOptions">
    <tr class="grabbable" data-ng-repeat="track in playlist track by $index">
      <td><span>{{ track.literalStart }}</span></td>
      <td>
        <div class="media">
          <div class="media-left" data-ng-show="cfg.showVideoInPlaylist" >
            <video width="{{ cfg.videoHeight }}" height="120" controls preload="none">
              <source data-ng-src="{{ track.filepath }}" type="video/mp4">
              Your browser does not support the video tag.
            </video> 
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ track.title }}</h4>
            <p><span>{{ track.duration }}</span> {{ track.typeDesc }} </p>
            <p class="hidden-xs">{{ track.description }} <span>({{ track.id }})</span></p>
          </div>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <button type="button" class="btn btn-sm btn-default" data-ng-click="openPicker($index)" data-ng-disabled="metadata.isMaxSizeReached">
                <i class="fa fa-lg fa-level-up" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr height="40">
            <td>
              <button type="button" class="btn btn-sm btn-danger" data-ng-click="remove($index)">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-sm btn-default" data-ng-click="openPicker($index + 1)" data-ng-disabled="metadata.isMaxSizeReached">
                <i class="fa fa-lg fa-level-down" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
