<nav class="navbar navbar-default navbar-affix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 toolbar">
        <a class="navbar-brand">Playlist</a>
      </div>
      <div class="col-xs-7 toolbar">
        <div class="row">
          <div class="col-xs-12 toolbar">
            <div class="input-group" style="padding-top: 8px;">
              <span class="input-group-btn">
                <button class="btn btn-default" data-ng-click="savePlaylist()">
                  <i data-ng-show="!saving.value" class="fa fa-floppy-o"></i>
                  <i data-ng-show="!!saving.value" class="fa fa-spin fa-spinner fa-life-ring fa-fw" ></i>
                </button>
              </span> 
              <select class="form-control half" 
                data-ng-model="selectedDir" 
                data-ng-options="dir for dir in directories"
                data-ng-change="onSelectionChange()">
              </select>
              <select class="form-control half" 
                data-ng-model="selectedDay" 
                data-ng-options="day as day.label for day in days"
                data-ng-change="onSelectionChange()">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <span class="label label-primary">{{ metadata.values.range }}</span>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
            <span class="label label-primary">{{ playlist.length }}</span>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-7 col-xs-4">
            <div class="pl-progress">
              <div class="pl-progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ metadata.values.rate }}%;">
                {{ metadata.values.rate }} %
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 toolbar">
        <configurator-button />
      </div>
    </div>
  </div>
</nav>
<p data-ng-show="!loaded.state">Veuillez patienter</p>
<div data-ng-show="loaded.state">
  <div class="container" data-ng-show="(playlist.length < 1)">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm btn-default" data-ng-click="openPicker(0)">
        <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
        </button>
        pour initier la playlist 
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ng-include src="cfg.compactVue ? 'playlist/playlist-light.template.html' : 'playlist/playlist-full.template.html'"></ng-include>
      </div>
    </div>
  </div>
</div>